*{
    color: white;
}
body{
    background-color: rgb(61, 61, 61);
}
.popup-text{
    color:black;

}
.Card-text{
    color:rgb(88, 88, 88);
    background-color: rgb(243, 243, 243);
}
.InputFliter{
    width: 80%;
    border-radius: 5px;
}