*{
    color: white;
}
body{
    background-image: url('./images.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: auto;
}
.popup-text{
    color:black;

}
.Card-text{
    color:rgb(88, 88, 88);
    background-color: rgb(243, 243, 243);
}
.InputFliter{
    width: 50%;
    border-radius: 5px;
}


